@page
@model helenProject.Pages.Explorer.Navigate.AboutUsModel
@{
}

<!--header: Who is in charge of this project-->
<div class="container">
    <h1>Who are in charge of this project?</h1>
</div>

<!--section 1: Youssef Mohamed-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
    </div>
</div>

<!--section 2: Simon Hany-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
        <div class="col">
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--section 3: Sondos Sayed-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
    </div>
</div>

<!--section 4: Sarah Hussien-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
        <div class="col">
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--section 5: Nour Elhuda-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
    </div>
</div>

<!--section 6: Doaa Amir-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
        <div class="col">
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--section 7: Rania Fahmy-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
    </div>
</div>

<!--section 8: Shima Tolba-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
        <div class="col">
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
    </div>
</div>