@page
@model helenProject.Pages.Admin.Blogs.AddModel
@{
}

<!--This is helen Arcade intro-->
<div class="container text-center">
    <h1>This is Helen Arcade</h1>
    <h3 class="mb-3">The Cross-Platform gaming arcade of the web is here for free!</h3>
    <button onclick="window.location.href = '/Explorer/Navigate/HelenVision';" type="button" class="btn btn-outline-primary col-3 mb-3">Get started and sign up now</button>
    <p>Available on Windows, Mac, Android, iOS, everywhere ...........</p>
</div>

<!--section 1: game1 intro-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas 
            </p>
        </div>
        <div class="col-8">
            <img src="~/lib/Images/pexels-tara-winstead-8378752.jpg" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--section 2: game2 intro-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-8">
            <img src="~/lib/Images/pexels-suzy-hazelwood-1275235.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas 
            </p>
        </div>
    </div>
</div>

<!--section 3: game3 intro-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas
            </p>
        </div>
        <div class="col-8">
            <img src="~/lib/Images/pexels-alexander-grey-1148998.jpg" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--How it works?-->
<div class="container">
    <!--How it works: Unity game engine-->
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col text-start">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
                </p>
            </div>
            <div class="col">
                <img src="~/lib/Images/ogimg.jpg" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <!--How it works: cross platform technology-->
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
                <img src="~/lib/Images/19-192890_c-hd-png-download.png" class="img-fluid" alt="...">
            </div>
            <div class="col text-start">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
                </p>
            </div>
        </div>
    </div>
</div>