@page
@model helenProject.Pages.Explorer.Navigate.HelenVisionModel
@{
}

<!--hsection 1-->
<div class="container text-center mt-5">
    <div class="row">
        <!--header: Helen Vision-->
        <div class="col text-start">
            <h1>Helen Vision</h1>
            <p>
                We aim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla 
            </p>
        </div>
        <!--section: helen vision explained-->
        <div class="col-8">
            <img src="https://images.pexels.com/photos/3405456/pexels-photo-3405456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--header: It's designed to combine education and entertainement and combine them into our games!-->
<div class="container text-center mt-5">
    <h3>It's designed to combine education and entertainement and combine them into our games!</h3>
</div>

<!--section 2-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <!--an image for IQ-->
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <!--an image for cross-platform-->
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <!--an image for learning child-->
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--section 3-->
<div class="container text-center mt-5">
    <!--header: what is next in Helen Arcade-->
    <h1>What is next in Helen Arcade?</h1>
    <p>We'll never stop here there is more!</p>
    <div class="container text-center mt-5">
        <div class="row">

            <div class="col text-start">
                <img src="https://images.pexels.com/photos/3405456/pexels-photo-3405456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/3405456/pexels-photo-3405456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>

<!--header: Sign up & Keep with us-->
<div class="container text-center mt-5">
    <h1 id="targetHere">Sign up & Keep with us!</h1>
</div>

<!--userCredentials-->
<div class="container text-center mt-10 mb-5 row">
    <div class="col"></div>
    <div class="col">
        <form>
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email address">
            <input type="password" class="form-control mt-3 mb-3" id="inputPassword3" placeholder="Password">
            <button type="button" class="btn btn-outline-success col-12 mb-3">log in</button>
            <button onclick="window.location.href = '/Explorer/Navigate/HelenVision';" type="button" class="btn btn-outline-primary col-12 mb-3">Get Started</button>
            <a href="#">forgetten password</a>
        </form>
    </div>
    <div class="col"></div>
</div>