@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--section 1: welcome article-->
<div class="container text-start mt-5">
    <div class="row">
        <div class="col text-left">
            <p class="h5">The most promising gaming website is here!</p>
            <h1>Welcome in Helen Arcade</h1>
            <p>
                We create serious gaming projects for educating children with Learning Disabilities, "and we're the best!".
                If you want to improve your child's skills or increase his IQ, or you want him
                to love a game like chess or learn new subjects you're in the right place. We provide your child with the paths and the resources he wants to learn in
                just one game which he will love.
            </p>
        </div>

        <div class="col">
            <!--you have to put an image here-->
            <img src="~/lib/Images/pexels-ehsan-ahmadnejad-1371985.jpg" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--section 2: functionalities-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <!--an image for IQ-->
            <img src="~/lib/Images/pexels-brett-sayles-1751634.jpg" class="img-fluid" alt="...">
            <p>Play games to increase your child's IQ, and learn new things every day.</p>
        </div>
        <div class="col">
            <!--an image for cross-platform-->
            <img src="~/lib/Images/pexels-pixabay-4158.jpg" class="img-fluid" alt="...">
            <p>Open our platform on any device using any platform, whatever you use, our platform supports!</p>
        </div>
        <div class="col">
            <!--an image for learning child-->
            <img src="~/lib/Images//pexels-tima-miroshnichenko-5428264.jpg" class="img-fluid" alt="...">
            <p>Track your child's development with IQ Tests every day! </p>
        </div>
    </div>
</div>

<!--header: We've changed the arcade concept!-->
<div class="container mt-5 text-center">
    <h1>We've Changed the Arcade concept!</h1>
</div>

<!--section 3: arcade concept-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="~/lib/Images/pexels-cottonbro-studio-4841182.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <img src="~/lib/Images/pexels-tima-miroshnichenko-5428003.jpg" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--header: helen currunt games-->
<div class="container mt-5 text-center">
    <h1>Helen currunt games</h1>
</div>

<!--section 4: helen currunt games/ game1-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="~/lib/Images/pexels-tara-winstead-8378752.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col text-start">
            <p>
                The emoution game a webGL unity project designed to help people with learning disabilities to interact with people easily and feel comfortable to get a conversation normally with others. Autism is a health condition that cause people to have hard 
            </p>
        </div>
    </div>
</div>

<!--section 4: helen currunt games/ game2-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
        <div class="col">
            <img src="~/lib/Images/pexels-suzy-hazelwood-1275235.jpg" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<!--section 4: helen currunt games/ game3-->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="~/lib/Images/pexels-alexander-grey-1148998.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate mi sit amet mauris commodo quis imperdiet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Diam donec adipiscing tristique risus nec feugiat in. At varius vel pharetra vel turpis nunc eget lorem dolor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Urna id volutpat lacus laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Sapien faucibus et molestie ac feugiat sed. Massa id neque aliquam vestibulum morbi blandit cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
    </div>
</div>

<!--button: visit helen Ardcade-->
<div class="container text-center mt-5">
    <button onclick="window.location.href = '/Explorer/Navigate/HelenVision';" type="button" class="btn btn-outline-primary"><h1>Visit Helen Arcade NOW!!</h1></button>
</div>

<!--developers cards-->
<!--column1 devs-->
<div class="container text-center mt-5">
    <div class="row">
        <!--Intro-->
        <div class="col text-start">
            <h1>Connect with our Developers team now!</h1>
            <p>
                The best .NET & Unity developers who worked on this project as part of Ain Shams University project!
            </p>
        </div>
        <!--dev: simon hany-->
        <div class="col text-start">
            <h2>Simon Hany</h2>
            <h6>A student in Ain Shams University's department of statistics and computer science, she has good knowledge of using Unity game engine and is a good developer using C++, and C# programming languages, she uses Object Oriented Programming technology to create games, and she is part of Helen team that works on helen project.</h6>
        </div>
        <!--dev: Youssef Mohamed-->
        <div class="col text-start">
            <h2>Youssef Mohamed Mokhtar</h2>
            <h6>A student in Ain Shams University's department of physics and computer science. He's a .NET learner, and web pages designer, he created the helen web pages, which you're navigating right now, he wants to become a cybersecurity engineer and he is part of Helen's team that works on the helen project.</h6>
        </div>
    </div>
</div>

<!--column2 devs-->
<div class="container text-center mt-5">
    <div class="row">
        <!--dev: sondos sayed-->
        <div class="col text-start">
            <h2>Sondos Sayed Gaber</h2>
            <h6>A student in Ain Shams University's department of computer science. she's a web developer, C++ core developer. She is intersted in Security and quality assurance business, and she is part of Helen's team that works on the helen project.</h6>
        </div>
        <!--dev: sarah hussien-->
        <div class="col text-start">
            <h2>Sarah Hussien Foad</h2>
            <h6>A student in Ain Shams University's department of statistics and computer science. she's a unity game developer and a C++ developer. She loves computer science and she has the role of reviewing C# on the helen project, and she is part of Helen's team that works on the helen project.</h6>
        </div>
        <!--dev: Nour Elhuda-->
        <div class="col text-start">
            <h2>Nour Elhuda Abdulwahab</h2>
            <h6>A student in Ain Shams University's department of computer science. she's a unity game developer and a C++ developer. She loves computer science and she has the role of reviewing C# on the helen project, and she is part of Helen's team that works on the helen project.</h6>
        </div>
    </div>
</div>

<!--column3 devs-->
<div class="container text-center mt-5">
    <div class="row">
        <!--dev: doaa amir-->
        <div class="col text-start">
            <h2>Doaa Amir Salah</h2>
            <h6>A student in Ain Shams University's department of computer science. she's a web developer, C++ core developer. She is intersted in Security and quality assurance business, and she is part of Helen's team that works on the helen project.</h6>
        </div>
        <!--dev: rania fahmy-->
        <div class="col text-start">
            <h2>Rania Fahmy Zaki</h2>
            <h6>A student in Ain Shams University's department of computer science. she's a web developer, C++ core developer. She is intersted in Security and quality assurance business, and she is part of Helen's team that works on the helen project.</h6>
        </div>
        <!--dev: shima tolba-->
        <div class="col text-start">
            <h2>Shima Tolba Ahmed</h2>
            <h6>A student in Ain Shams University's department of statistics and computer science. she's a web developer, C++ core developer. She is intersted in Security and quality assurance business, and she is part of Helen's team that works on the helen project.</h6>
        </div>
    </div>
</div>

<!--under guidance-->
<div class="container text-center mt-5">
    <!--Dr Hussein Karam section-->
    <div class="row">
        <div class="col">
            <img src="https://images.pexels.com/photos/1104014/pexels-photo-1104014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="...">
        </div>
        <div class="col-8 text-start">
            <h2>Under guidance of</h2>
            <h1>Dr Hussien Karam</h1>
            <h6>The Doctor of computer Graphics and computer science in computer science departement of Ain Shams University, and Unity engine master. He has the guidance of more than 30 projects of unity game engine every year with experience in computer graphics section and serious game development</h6>
        </div>
    </div>
</div>